body {
    background-image: url('../images/images.jpg');
}
.form {
    margin-left: 20%;
    margin-right: 20%;
    color: black
}
fieldset {
    background-image: url('../images/download.png');
    align: center;
}
#result {
	font-style: oblique;
	color: black;
	font-size: 50px;
    float: left;
}
table, th, tr {
    border: 1px solid blue;
    text-align: center;
    font-weight: bold;
    padding: 1px;
}
.heading {
    font-style: italic;
    font-size: 25px;
}
caption {
    font-size: 40px;
}