body {
    background-image: url('../images/b.jpg');
}
.form {
    margin-left: 20%;
    margin-right: 20%;
    color: black
}
fieldset {
    background-image: url('../images/download.png');
}
#result {
	font-style: oblique;
	color: black;
	font-size: 50px;
    float: left;
}
table, th, tr {
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}
.heading {
    font-style: italic;
    font-size: 25px;
}
